In [57]:
# Import dependencies
import pandas as pd
import requests
from config import api_key

In [58]:
movie_list = pd.read_csv('resources/BC_movie_list.csv',index_col=0)
movie_list.reset_index(drop=True, inplace=True)
movie_list.head()

,genre_ids,id,overview,popularity,release_date,title,vote_average,vote_count,keyword,est_date
0,"[18, 36, 35]",31561,The aging Caesar finds himself intrigued by th...,5.530,1945-12-11,Caesar and Cleopatra,6.3,37,['Egypt'],[-3150]
1,"[18, 10749, 12]",29993,When strongman Samson rejects the love of the ...,26.534,1949-12-21,Samson and Delilah,6.5,127,['Samson'],[-1118]
2,"[18, 10749, 36]",42567,King David enters into an adulterous affair wi...,6.832,1951-08-10,David and Bathsheba,6.4,35,['Bathsheba'],[-975]
3,"[36, 12]",114771,Cleopatra (Rhonda Fleming) toys with Mark Anto...,2.456,1953-05-08,Serpent of the Nile,7.7,3,"['Egypt', 'Rome', 'Mark Antony', 'Cleopatra']","[-3150, -753, -83, -51]"
4,"[36, 12]",350806,The Jews are taken from Jerusalem and made sla...,0.881,1953-10-21,Slaves of Babylon,6.0,1,"['Jerusalem', 'Cyrus', 'Persia', 'Persian']","[-2800, -550, -550, -550]"

In [59]:
movie_list.loc[movie_list['title']=='Sparticus']

Empty DataFrame
Columns: [genre_ids, id, overview, popularity, release_date, title, vote_average, vote_count, keyword, est_date]
Index: []

In [60]:
movie = [requests.get(f'https://api.themoviedb.org/3/movie/967?api_key={api_key}&language=en-US').json()]
movie

[{'adult': False,
  'backdrop_path': '/kJaisj9uNIzjHum6XM9HD9yI8vu.jpg',
  'belongs_to_collection': None,
  'budget': 12000000,
  'genres': [{'id': 36, 'name': 'History'},
   {'id': 10752, 'name': 'War'},
   {'id': 18, 'name': 'Drama'},
   {'id': 12, 'name': 'Adventure'}],
  'homepage': '',
  'id': 967,
  'imdb_id': 'tt0054331',
  'original_language': 'en',
  'original_title': 'Spartacus',
  'overview': 'The rebellious Thracian Spartacus, born and raised a slave, is sold to Gladiator trainer Batiatus. After weeks of being trained to kill for the arena, Spartacus turns on his owners and leads the other slaves in rebellion. As the rebels move from town to town, their numbers swell as escaped slaves join their ranks. Under the leadership of Spartacus, they make their way to southern Italy, where they will cross the sea and return to their homes.',
  'popularity': 21.312,
  'poster_path': '/prdCmV8GkDLpguwoxBQczFAwvci.jpg',
  'production_companies': [{'id': 611,
    'logo_path': None,
    'name': 'Bryna Productions',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1960-10-13',
  'revenue': 60000000,
  'runtime': 197,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': 'They trained him to kill for their pleasure ... but they trained him a little too well',
  'title': 'Spartacus',
  'video': False,
  'vote_average': 7.6,
  'vote_count': 1568}]

In [72]:
keywords = 'resources/BC_keywords.csv'
antikeywords = 'resources/BC_antikeywords.csv'

keyword_df = pd.read_csv(keywords)
antikeyword_df = pd.read_csv(antikeywords)

pages = list(range(1,500))
movie_df = pd.DataFrame()

for page in pages:
    movie_df_length = len(movie_df)
    movie_data = pd.DataFrame(requests.get(f'https://api.themoviedb.org/3/discover/movie?api_key={api_key}&primary_release_date.gte=1960-01-01&without_genres=99,878,16,27&primary_release_date.lte=1960-12-31&vote_count.gte=0&vote_average.gte=3.9&with_runtime.gte=55&sort_by=release_date.asc&page={page}').json()['results'])
    movie_df = movie_df.append(movie_data)
    length = len(movie_df.index)
    
    if len(movie_df) == movie_df_length:
        break

movie_df

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/vnegtjF75pf5DlD3TAblw057oio.jpg,[18],164353,en,Weddings and Babies,A photographer struggles to make enough money ...,0.803,/o9Q2MA6QireOFl1slSRhH6Kkpyp.jpg,1960-10-05,Weddings and Babies,False,5.7,7
1,False,/rCS22dQNC4sTYFCVUY4bjExgL2M.jpg,"[35, 18]",98060,it,Il tempo si è fermato,Two middle-aged men work as caretakers on an i...,0.600,/gFJ88hhy2Se6eqyul9zrTs6heu8.jpg,1960-04-05,Time Stood Still,False,6.9,11
2,False,None,[18],452592,pt,O Primo Basílio,"Jorge, a successful engineer and employee of a...",1.223,/l0yxJYeaqzlueoAmsVJ5RRgPdSd.jpg,1960-03-16,O Primo Basílio,False,6.8,2
3,False,/3VOpsw5H89H5fojmR9cr3znKgHV.jpg,"[35, 80]",1789,en,The Gazebo,TV writer Elliott Nash buries a blackmailer un...,1.348,/xpOuksXapJvvNiC5INXVGgkmWwQ.jpg,1960-01-15,The Gazebo,False,7.3,17
4,False,/qEmvcfHY8Sq9L2xaVpBOcTgH2NB.jpg,"[35, 80, 18, 53]",25495,en,Our Man in Havana,Expatriate Englishman Jim Wormold lives in pre...,5.776,/wzJnzJWDxZv3jr46o5KIW2vOZ37.jpg,1960-01-27,Our Man in Havana,False,6.9,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,False,None,"[10402, 35]",293979,de,Silvesterpunsch,Silvesterpunsch is a German entertainment DEFA...,0.622,/ln2l24UivnxzIu0CkdebD9djQNo.jpg,1960-12-30,Silvesterpunsch,False,4.5,4
7,False,None,[18],215277,es,Historias de la revolución,A film about the Cuban Revolution told from th...,1.018,/vTe7TN9sU3h8SCZi3eQEykGUUso.jpg,1960-12-30,Stories of the Revolution,False,6.5,4
8,False,/yTytavLl7woMS2Kc6y17CHM9Uhk.jpg,[12],195709,it,La rivolta degli schiavi,A rich man's daughter (Rhonda Fleming) sides w...,1.075,/hxo0XZt66JfhdWifwJ9X3DuU1i9.jpg,1960-12-30,Revolt of the Slaves,False,4.3,4
9,False,/1t3OVzlXLjjE99Rh4iQVHOSyFG4.jpg,[80],198961,de,Der letzte Zeuge,Director Wolfgang Staudte who left East German...,2.239,/usdyRnrrCbVA1rM9KoKHNyBj5ux.jpg,1960-12-30,The Last Witness,False,6.5,12
10,False,/pcptyQLGWwlOGieqaaCVWkWIDim.jpg,"[35, 18, 10749]",79878,fr,Les Tortillards,"Émile Durand, an insecticide manufacturer, is ...",1.811,/dxDXCP04HFPKLUkZYI5Mw3E5nbr.jpg,1960-12-30,Small Local Trains,False,6.5,2

In [73]:
movie_df.loc[movie_df['title']=='Spartacus']

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
7,False,/kJaisj9uNIzjHum6XM9HD9yI8vu.jpg,"[36, 10752, 18, 12]",967,en,Spartacus,"The rebellious Thracian Spartacus, born and ra...",21.898,/prdCmV8GkDLpguwoxBQczFAwvci.jpg,1960-10-13,Spartacus,False,7.6,1568

In [63]:
movie_data = pd.DataFrame(requests.get(f'https://api.themoviedb.org/3/discover/movie?api_key={api_key}&with_keywords=Sparticus').json()['results'])
movie_df = movie_df.append(movie_data)
movie_df

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,None,[12],269289,en,Tumulto de Paixões,A novelist comes under the spell of a beautifu...,0.841,/zsq6t5AFgp4wuAmF2yQZfTqOKB8.jpg,1959-11-27,The Witch Beneath the Sea,False,0.0,0
1,False,/vnegtjF75pf5DlD3TAblw057oio.jpg,[18],164353,en,Weddings and Babies,A photographer struggles to make enough money ...,0.803,/o9Q2MA6QireOFl1slSRhH6Kkpyp.jpg,1960-10-05,Weddings and Babies,False,5.7,7
2,False,/wd0jrD8nT05mgphlaimMWjixNBL.jpg,[35],288870,el,Η Κυρά Μας η Μαμμή,The rivalry between a professional doctor and ...,2.211,/pQxVQGF5VKYabvhP5V4dmhf5gTK.jpg,1961-09-24,Mrs. Midwife,False,8.2,10
3,False,None,[],587252,en,حماتي ملاك,Produced at 1959.,0.600,/a0OnPlVZ6RwGxW7ypXhqpoOM5Fa.jpg,1959-10-26,Hamati malak,False,0.0,0
4,False,/jPNjYqMWt9g0fimGzkoM3c28lUW.jpg,"[18, 10749]",34148,en,Imitation of Life,"Lora Meredith, a white widow who dreams of bei...",6.379,/xt3cUn7lsjpaGuB279A4v8zAYRn.jpg,1959-10-02,Imitation of Life,False,7.4,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,False,/xGrTm3J0FTafmuQ85vF7ZCw94x6.jpg,"[18, 36, 12]",589761,ru,Чернобыль,The aftermath of a shocking explosion at the C...,1581.777,/kfQJQWFEoWRVBH8FUKnT0HX1yRS.jpg,2021-04-15,Chernobyl: Abyss,False,6.3,242
16,False,/hv7o3VgfsairBoQFAawgaQ4cR1m.jpg,"[12, 28, 878, 53]",624860,en,The Matrix Resurrections,"Plagued by strange memories, Neo's life takes ...",1483.037,/8c4a8kE7PizaGQQnditMmI1xbRp.jpg,2021-12-16,The Matrix Resurrections,False,7.3,166
17,False,/axMEROxH94BveBZBfPctWX4qLe4.jpg,"[16, 878, 10751, 35]",482321,en,Ron's Gone Wrong,"In a world where walking, talking, digitally c...",1341.823,/gA9QxSravC2EVEkEKgyEmDrfL0e.jpg,2021-10-15,Ron's Gone Wrong,False,8.4,451
18,False,/5RMqFZdefnDwY7rdD1oJcTkWPdF.jpg,"[16, 35, 10751]",774741,en,Diary of a Wimpy Kid,Greg Heffley is a scrawny but ambitious kid wi...,1365.594,/obg6lWuNaZkoSlwrVG4VVk4SmT.jpg,2021-12-03,Diary of a Wimpy Kid,False,6.8,99
19,False,/r2GAjd4rNOHJh6i6Y0FntmYuPQW.jpg,"[12, 28, 53]",370172,en,No Time to Die,Bond has left active service and is enjoying a...,1227.566,/iUgygt3fscRoKWCV1d0C7FbM9TP.jpg,2021-09-29,No Time to Die,False,7.5,2687

In [66]:
movie_df.loc[movie_df['original_title']=='Spartacus']

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
16,False,/kJaisj9uNIzjHum6XM9HD9yI8vu.jpg,"[36, 10752, 18, 12]",967,en,Spartacus,"The rebellious Thracian Spartacus, born and ra...",21.898,/prdCmV8GkDLpguwoxBQczFAwvci.jpg,1960-10-13,Spartacus,False,7.6,1568